apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../k8s/
images:
- digest: sha256:019f985a3bb3c436c7e340260a953ec229e8c42b5ccd047693608f2eb26c143b
  name: webmakaka/pacman-kikd
  newTag: latest
